<p style="text-align:center">
    <a href="https://www.ict.mahidol.ac.th/en/" target="_blank">
    <img src="https://www3.ict.mahidol.ac.th/ICTSurveysV2/Content/image/MUICT2.png" width="400" alt="Faculty of ICT">
    </a>
</p>

# Lab02: Data Handling and Exploration

This Jupyter Notebook lab assignment tests your understanding of file I/O and Pandas DataFrames.

__Intructions:__
1. Append your ID at the end of this jupyter file name. For example, ```ITCS227_Lab02_Assignment_6788123.ipynb```
2. Complete each task in the lab.
3. Once finished, raise your hand to call a TA.
4. The TA will check your work and give you an appropriate score.
5. Submit the source code to MyCourse as record-keeping.

## Task 1: File Handling

1.  **Read the file (better way):** Use the `with open(...)` method to read the contents of `files/my_data.csv` line by line and print each line to the console (without newline characters).

# Your code here
with open('files/my_data.csv','r') as file:
    print(file.read())

In [1]:

with open("files/my_data.csv", "r") as file:
    for line in file:
        print(line.strip())

Name,Age,City
Alice,25,New York
Bob,30,London
Charlie,22,Paris
David,28,Tokyo

2. **Write to a new file:** Create a new file named `processed_data.txt`. Write the following content to it:
```
Processed Data:
```

In [10]:
# Your code here
with open("processed_data.txt","w") as file:
    file.write("Processed Data:\n")

<details><summary> >> Help (Use this only as a last resort) </summary>
    
```
with open("processed_data.txt", "w") as outfile:
    outfile.write("Processed Data:\n")
```

</details>

3. **Append to the new file:** Append each line read from `files/my_data.csv` (without the header line) to `processed_data.txt`.

In [11]:
# Your code here
with open("files/my_data.csv","r") as fileM:
    next(fileM)
    with open("processed_data.txt","a") as fileO:
        for line in fileM:
            fileO.write(line)

<details><summary> >> Help (Use this only as a last resort) </summary>
    
```
with open("files/my_data.csv", "r") as infile:
    next(infile) # skip header
    with open("processed_data.txt", "a") as outfile:
        for line in infile:
            outfile.write(line)
```

</details>

In [12]:
# Now let's, verify the file
with open("processed_data.txt", "r") as file:
    print("\nProcessed Data File content:")
    print(file.read())

Processed Data File content:
Processed Data:
Alice,25,New York
Bob,30,London
Charlie,22,Paris
David,28,Tokyo

## Task 2: Pandas DataFrame Manipulation and EDA

1.  **Create a DataFrame:** Create a Pandas DataFrame from the data in `files/my_data.csv`.

In [13]:
# Your code here (Don't forget to import pandas)
import pandas as pd 
file = pd.read_csv("files/my_data.csv")
print(file)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo

<details><summary> >> Help (Use this only as a last resort) </summary>
    
```
import pandas as pd

df = pd.read_csv("files/my_data.csv")
print("\nDataFrame:")
print(df)
```

</details>

2.  **View Data:**
*   Print the first 2 rows using `head()`.
*   Print the last row using `tail()`.
*   Print the DataFrame's info using `info()`.

In [14]:
# Your code here
print("\nFirst 2 rows:")
print(file.head(2))
print("\nLast row:")
print(file.tail(1))
print("\nDataFrame info:")
file.info()

First 2 rows:
    Name  Age      City
0  Alice   25  New York
1    Bob   30    London

Last row:
    Name  Age   City
3  David   28  Tokyo

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

<details><summary> >> Help (Use this only as a last resort) </summary>
    
```
print("\nFirst 2 rows:")
print(df.head(2))

print("\nLast row:")
print(df.tail(1))

print("\nDataFrame info:")
df.info()
```

</details>

3.  **Access Data:**
*   Select the 'Age' column using both bracket notation (`df['Age']`) and dot notation (`df.Age`).
*   Select the row with index 1 using `loc()`.
*   Select the row at index 2 using `iloc()`.
*   Select the 'City' of the person in the first row using both `loc()` and `iloc()`.
*   Select the first two rows and the 'Name' and 'Age' columns using slicing and `.loc`.

In [20]:
# Your code here
import pandas as pd
file = pd.read_csv("files/my_data.csv")
print("\n'Age' column (bracket notation):")
print(file['Age'])
print("\n'Age' column (bracket notation):")
print(file.Age)
print("\nRow with index 1 (loc):")
print(file.loc[1])
print("\nRow at index 2 (iloc):")
print(file.iloc[2])
print("\n'City' of the first person (loc):")
print(file.loc[0,'City'])
print("\n'City' of the first person (iloc):")
print(file.iloc[0,2])
print("\nFirst two rows, 'Name' and 'Age' columns:")
print(file.loc[:1,['Name','Age']])

'Age' column (bracket notation):
0    25
1    30
2    22
3    28
Name: Age, dtype: int64

'Age' column (bracket notation):
0    25
1    30
2    22
3    28
Name: Age, dtype: int64

Row with index 1 (loc):
Name       Bob
Age         30
City    London
Name: 1, dtype: object

Row at index 2 (iloc):
Name    Charlie
Age          22
City      Paris
Name: 2, dtype: object

'City' of the first person (loc):
New York

'City' of the first person (iloc):
New York

First two rows, 'Name' and 'Age' columns:
    Name  Age
0  Alice   25
1    Bob   30

<details><summary> >> Help (Use this only as a last resort) </summary>
    
```
print("\n'Age' column (bracket notation):")
print(df['Age'])

print("\n'Age' column (dot notation):")
print(df.Age)

print("\nRow with index 1 (loc):")
print(df.loc[1])

print("\nRow at index 2 (iloc):")
print(df.iloc[2])

print("\n'City' of the first person (loc):")
print(df.loc[0, 'City'])

print("\n'City' of the first person (iloc):")
print(df.iloc[0, 2])

print("\nFirst two rows, 'Name' and 'Age' columns:")
print(df.loc[:1, ['Name', 'Age']])
```

</details>

4.  **EDA:**
*   Use `describe()` to get summary statistics of the 'Age' column.

In [16]:
# Your code here
print(file['Age'].describe())

count     4.00
mean     26.25
std       3.50
min      22.00
25%      24.25
50%      26.50
75%      28.50
max      30.00
Name: Age, dtype: float64

<details><summary> >> Help (Use this only as a last resort) </summary>
    
```
print("\n'Age' column summary statistics:")
print(df['Age'].describe())
```

</details>

5.  **Answer the following questions:**
*   What is the average age of the people in the DataFrame?
*   How many people are from 'London'?

In [32]:
# Your code here

print("Average age =" , file['Age'].mean())
London = (file['City'] == 'London').sum()
print("Total people in London =" ,  London)

Average age = 26.25
Total people in London = 1

<details><summary> >> Help (Use this only as a last resort) </summary>
    
```
average_age = df['Age'].mean()
print(f"\nAverage age: {average_age}")

london_count = (df['City'] == 'London').sum()
print(f"\nNumber of people from London: {london_count}")
```

</details>

<p style="text-align:center;">That's it! Congratulations! <br> 
    Now, call an LA to check your solution. Then, upload your code on MyCourses.</p>